*, body, *::before, *::after{

    box-sizing: border-box;
   padding: 0;
   margin: 0;
   font-size: 16px;
 
}


li{
   list-style: none;
}
a{

   text-decoration: none;
}
/*

/*

font-family: 'Amiko', sans-serif;

font-family: 'Titillium Web', sans-serif;
    
*/

.container{

 
   
}



.hero{
   background: url(https://blog.hotmart.com/blog/2018/02/BLOG_freelancer-ES.png) no-repeat;
   height: 500px;

background-size: cover;
}

.title-h1{
   color: white;

   text-transform: uppercase;
   font-family: 'Titillium Web', sans-serif;
   text-align: center;
   font-size: 35px;

   padding: 20px 0px;
}

article {
   width: 200px;
   
   margin: 0px auto;
}
.title-h2{
   color: black;

   text-transform: uppercase;
   font-family: 'Titillium Web', sans-serif;
   text-align: center;
   font-size: 30px;

   padding: 20px 0px;
}


.title{
   color: white;
   text-transform: uppercase;
   font-family: 'Amiko', sans-serif;
   font-size: 32px;
   font-size: 32px;
    width: 400px;
   

}

.parrafo{
   color: rgb(85, 82, 82);
   font-family: 'Amiko', sans-serif;
    padding: 10px 0px;
    font-weight: 100;
}

.btn-hero{
   display: block;
   background: tomato;
   color:  white;
   padding: 10px 0px;
   width: 100px;
   text-align: center;
   border-radius: 10px;

}

.aboud{

   
    margin: 30px auto;
}

form{


   width: 700px;
   margin: 30px auto;

   text-align: center;

  
  
}

.img-casuuser{
   width: 200px;
}
img{

   width: 100px;
}

input, textarea {
   
     padding: 10px 0px;
     margin: 10px;
     width: 300px;
     outline: none;
     border: 0;
      display: inline;
     
}

.imput{

   border: 1px solid rgb(134, 134, 134);
}
.texterea{
   width: 630px;
   padding: 10px 0px;
   height: 100px;
    resize: none;
   
}
h3 {
   display: inherit;
   color: white;
   text-transform: uppercase;
   padding: 10px 0px;
}
.skills{

   background: tomato;

}
.enviar{
  
 
   background: tomato;
   color:  white;
   padding: 10px 0px;
  
   text-align: center;
   border-radius: 10px;
   outline: none;
}
 footer{

   width: 100%;
   font-family: 'Amiko', sans-serif;
    font-size: 26px;
    color: white;
    background: tomato;

    text-align: center;

 }

 .foother-p{
    padding: 20px 0px;
 }

 .clients{



   margin: 0px auto;
   text-align: center;
 }


 .h3{

   color: black;
 }
.bar{
   width: 200px;
   background: rgb(26, 25, 25);

   height: 10px;
   position: relative;
  
}

.bar::before{
   content: " ";
   width: 900px;
   background: red;
   position: absolute;
   top: 0;
  
   
}